/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
    background-color: #fffffe;
    background-image: url(./images/bench-mat.jpg); 
    background-attachment: fixed;
    background-size: 50%;
    background-position: center;
    backdrop-filter: blur(30px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* text-shadow: 0px 0px 2px hsl(0, 0%, 100%); */
    
}

img {
    border-radius: 5px;
}

p {
    margin-left: 7.25%;
    margin-right: 7.25%;
    text-align: left;
    color:#fffffe;
    /* background-color: #336f0518; */
    /* padding: 2%; */
    /* text-shadow: 0px 0px 2px white; */
    border-radius: 5px;
}

h3 {
    color: rgb(255, 255, 255);
    padding: 8px;
    background-color: #ffffff31;
    /* border-radius: 8px; */
    text-align: left;
    margin-left: 7.5%;
    margin-right: 7.5%;
    /* text-shadow: 0px 0px 2px rgb(0, 247, 255); */
    
}

footer {
    color: rgb(255, 255, 255);
    padding: 8px;
    background-color: #ffffff31;
    /* border-radius: 8px; */
    text-align: center;
}

figcaption {
    margin-top: 8px;
    margin-left: 7.25%;
    margin-right: 7.25%;
    text-align: left;
    color:#fffffe;
    text-shadow: 0px 0px 3px rgb(85, 84, 84);
}

table {
    /* border:3px solid black; */
    table-layout: fixed;
    width: 85.5%;
    margin-left: 7.25%;
    margin-right: 7.25%;
}

tr, td {
    /* border:3px solid black; */
    width: 100%;
    margin: 10px;
    vertical-align: top;
}

.caption {
    text-align: left;
    color:#fffffe;
    text-shadow: 0px 0px 3px rgb(85, 84, 84);
}

.banner {
    width: 85.5%;
    height: 85.5%;
    display: block;
    margin-left: 7.25%;
    margin-right: 7.25%;
    box-shadow: 0px 0px 8px #336f0555;
}

.funParagraph {
    color: green;
    background-color: rgba(255, 255, 255, 0.379);
    
}

#mainHeading {
    color: red;
    padding: 8px;
    text-shadow: 0px 0px 2px white;
    background-color: #ffffff31;
    /* border-radius: 8px; */
    background-position: center;
    -webkit-background-composite: inherit;
    text-align: center;
}

#diagram {
    height: 85%;
    width: 85%;
}

#toneHole {
    height: 100%;
    width: 100%;
}

#example {
    width: 100%;
    height: 100%;
}

#crossSection {
    height: 70%;
    width: 70%;
}

#peaTable {
    table-layout: fixed;
    width: 65.5%;
    margin-left: 7.25%;
    margin-right: 7.25%;
    vertical-align: top;
}

#pea {
    width: 70%;
    height: 70%;
}
 

#peaCell {
    width: 60%;
    height: 100%;
    
 }



