/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* text-align: center; */
}

#mainHeading {
    color: red;
    background-color: burlywood;
    text-align: center;
}

#diagram {
    height: 85%;
    width: 85%;
}

#toneHole {
    height: 100%;
    width: 100%;
    /* float: right; */

}

#example {
    width: 900.58px;
    height: 243.4px;
    margin-right: 10px;
}

#pea {
    width: 80%;
    height: 80%;
    /* margin-left: 20%; */
}

img {
    border-radius: 5px;
}

figcaption {
    margin-top: 8px;
    /* text-align: left; */
}

table, tr, td {
    /* border:3px solid black; */
    margin-left: 7%;
    /* margin: 8%; */
    width: 80%;
}

td {
    width: 50%;
}

.caption {
    text-align: left;
}

.banner {
    width: 1217px;
    height: 243.4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  /* width: 50%; */
}

.funParagraph {
    color: green;
}

p {
    margin-left: 7.25%;
    margin-right: 7.25%;
    text-align: left;
}

h3, footer {
    text-align: center;
}
